.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
  padding: 30px;
}

.link-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visit-link {
  text-decoration: none;
  color: #b6c5ff;
  font-size: 15px;
}

.skills-title {
  font-size: 18px;
  font-weight: 500;
}
